[submodule "bundle/nerdtree.git"]
	path = bundle/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/powerline.git"]
	path = bundle/powerline.git
	url = https://github.com/powerline/powerline.git
[submodule "bundle/vim-airline.git"]
	path = bundle/vim-airline.git
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-fugitive.git"]
	path = bundle/vim-fugitive.git
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-rails.git"]
	path = bundle/vim-rails.git
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/numbers.vim.git"]
	path = bundle/numbers.vim.git
	url = https://github.com/myusuf3/numbers.vim.git
